.button{
 -fx-width: 60px;
 -fx-background-color:
 linear-gradient(#e2e2e2, #c6c6d6),
 linear-gradient(#f9f9f9 0%, #d5d5d5 20%, #d2d2d2 100%),
 linear-gradient(#eee 0%, #e6e6e6 50%);
 -fx-background-radius: 8,7,6;
 -fx-background-insets: 0,1,2;
 -fx-text-fill: #000;
}

.button:hover{
 -fx-background-color:
 linear-gradient(#f2f2f2, #d6d6d6),
 linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
 linear-gradient(#ddd 0%, #f6f6f6 50%);


}


.textField:focused{
 -fx-background-insets: 0, 0, 1, 2;
}
